[Unit]
Description=Lerd Nginx Web Server
After=network.target

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=lerd-nginx
Network=lerd
PublishPort=80:80
PublishPort=443:443
Volume=%h/.local/share/lerd/nginx/nginx.conf:/etc/nginx/nginx.conf:ro,z
Volume=%h/.local/share/lerd/nginx/conf.d:/etc/nginx/conf.d:ro,z
Volume=%h/.local/share/lerd/nginx/custom.d:/etc/nginx/custom.d:ro,z
Volume=%h/.local/share/lerd/nginx/http.d:/etc/nginx/http.d:ro,z
Volume=%h/.local/share/lerd/certs/sites:/etc/nginx/certs:ro,z
Volume=%h/.local/share/lerd/run:%h/.local/share/lerd/run:rw
Volume=%h:%h:ro
PodmanArgs=--security-opt=label=disable

[Service]
Restart=always

[Install]
WantedBy=default.target
